<?xml version="1.0"?>
<config>
    <modules>
        <Nocks_NocksPaymentGateway>
            <version>1.3.0.0</version>
        </Nocks_NocksPaymentGateway>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <nocks_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </nocks_transaction_id>
            </sales_convert_quote_payment>
        </fieldsets>

        <helpers>
            <nockspaymentgateway>
                <class>Nocks_NocksPaymentGateway_Helper</class>
            </nockspaymentgateway>
        </helpers>

        <models>
            <nockspaymentgateway>
                <class>Nocks_NocksPaymentGateway_Model</class>
            </nockspaymentgateway>
        </models>

        <resources>
            <nockspaymentgateway_setup>
                <setup>
                    <module>Nocks_NocksPaymentGateway</module>
                </setup>
            </nockspaymentgateway_setup>
        </resources>
        <blocks>
            <nockspaymentgateway>
                <class>Nocks_NocksPaymentGateway_Block</class>
            </nockspaymentgateway>
        </blocks>
    </global>

    <default>
        <payment>
            <nocks>
                <testmode>0</testmode>
                <access_token/>
                <merchant/>
            </nocks>
            <nocks_gulden>
                <active>1</active>
                <title>Gulden</title>
                <model>nockspaymentgateway/gulden</model>
                <sort_order>1</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_gulden>
            <nocks_ideal>
                <active>0</active>
                <title>iDEAL</title>
                <model>nockspaymentgateway/ideal</model>
                <sort_order>2</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_ideal>
            <nocks_sepa>
                <active>0</active>
                <title>SEPA</title>
                <model>nockspaymentgateway/sepa</model>
                <sort_order>3</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_sepa>
            <nocks_balance>
                <active>0</active>
                <title>Nocks Balance</title>
                <model>nockspaymentgateway/balance</model>
                <sort_order>4</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_balance>
            <nocks_bitcoin>
                <active>1</active>
                <title>Bitcoin</title>
                <model>nockspaymentgateway/bitcoin</model>
                <sort_order>5</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_bitcoin>
            <nocks_litecoin>
                <active>1</active>
                <title>Litecoin</title>
                <model>nockspaymentgateway/litecoin</model>
                <sort_order>6</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_litecoin>
            <nocks_ethereum>
                <active>1</active>
                <title>Ethereum</title>
                <model>nockspaymentgateway/ethereum</model>
                <sort_order>7</sort_order>
                <allowspecific>0</allowspecific>
            </nocks_ethereum>
        </payment>
    </default>

    <frontend>
        <routers>
            <nockspaymentgateway>
                <use>standard</use>
                <args>
                    <module>Nocks_NocksPaymentGateway</module>
                    <frontName>nockspaymentgateway</frontName>
                </args>
            </nockspaymentgateway>
        </routers>
        <translate>
            <modules>
                <nockspaymentgateway>
                    <files>
                        <default>Nocks_PaymentGateway.csv</default>
                    </files>
                </nockspaymentgateway>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <nockspaymentgateway>
                    <file>nockspaymentgateway.xml</file>
                </nockspaymentgateway>
            </updates>
        </layout>
    </adminhtml>

</config>